<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Merging with Editor and Publisher</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.4/jszip-3.1.3/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fh-3.1.2/se-1.2.2/datatables.min.css"/>

    <!-- Custom CSS -->
    <link href="{{cssurl}}" type="text/css" rel="stylesheet" />



  </head>
  <body>

      <div style="position:relative;">
        <div id="btn-wrapper">
          <a href="/{{state}}/merge/">
            <button class="btn btn-primary btn-large">Merge tables</button>
          </a>
          <a id="btn_make_merge" class="btn btn-primary btn-large" data-toggle="modal" data-target=".bd-example-modal-lg">
            Make match
          </a>
          <a href="/{{state}}/show_merge/">
            <button class="btn btn-primary btn-large">Get final table</button>
          </a>
          <a href="/select/">
            <button class="btn btn-primary btn-large">Select another state</button>
          </a>
          <a href="#top">Back to top</a>
        </div>
      </div>

  <div class="container-fluid">

  <a name="top"></a>


  {% if state %}

  <header class="row idx-header">
    <div class="container">
      <div class="col-md-12">

        <h1 id="state-title">{{full_state}}</h1>
      </div>
    </div>
  </header>
</div>



    <!-- <a id="btn_make_merge_city" data-toggle="modal" data-target=".bd-example-modal-lg">These rows are the same ON CITY</a> -->

    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adjust fields to match records</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form class="row" method="POST" action="{{url_for('update_db', state=state)}}">
              <div class="form-group col-sm-6">
                <label for="inputEpSelPaper" class="col-sm-6 col-form-label"></label>
                <input class="form-control" id="inputEpSelPaper" name="inputEpSelPaper" placeholder="Type new E/P paper name here.">
                <input type="hidden" id="oldEpPaper" name="oldEpPaper">
                <div class="col-sm-6">
                  <label for="inputEpSelCity" class="col-sm-6 col-form-label"></label>
                  <input class="form-control" id="inputEpSelCity" name="inputEpSelCity" placeholder="Type new E/P city name here.">
                  <input type="hidden" id="oldEpCity" name="oldEpCity">
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label for="inputDbSelPaper" class="col-sm-6 col-form-label"></label>
                <input class="form-control" id="inputDbSelPaper" name="inputDbSelPaper" placeholder="Type new DB paper name here.">
                <input type="hidden" id="oldDbPaper" name="oldDbPaper">
                <div class="col-sm-6">

                  <label for="inputDbSelCity" class="col-sm-6 col-form-label"></label>
                  <input class="form-control" id="inputDbSelCity" name="inputDbSelCity" placeholder="Type new DB city name here." onblur="this.value=this.value.toTitleCase()">
                  <input type="hidden" id="oldDbCity" name="oldDbCity">
                </div>
              </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="this.form.submit()">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>



<div class="container">

  <!-- <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="display:flex;justify-content:space-around;margin-top:20px;">
      <a href="/{{state}}/merge/"><button class="btn btn-primary btn-large">Merge tables</button></a>
      <a id="btn_make_merge" data-toggle="modal" data-target=".bd-example-modal-lg"><a href="/select/"><button class="btn btn-primary btn-large">Make match</button></a></a>
      <a href="/{{state}}/show_merge/"><button class="btn btn-primary btn-large">Get final table</button></a>
      <a href="/select/"><button class="btn btn-primary btn-large">Select another state</button></a>
    </div>
    <div class="col-md-2"></div>
  </div> -->

  <div class="row">
    <div class="col-md-6">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#pane_ep" role="tab">EP</a>
        </li>
        {% if merged_papers %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pane_merged" role="tab">Merged</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pane_db" role="tab">DB</a>
        </li>
      </ul>

<!-- Tab panes -->
<div class="tab-content">

  <div id="pane_ep" class="tab-pane col-md-12 active" role="tabpanel">
      <h2>Unmerged Editor and Publisher Table</h2>
      <h3>Total rows: {{ep_total}}</h3>
      <p>This table shows the newspapers in the E/P database for 2017 that didn't merge with the database.</p>
      <table id="ep_table" class="state-table table table-bordered">
        <thead>
          <tr>
            <th>newspaper_name</th>
            <th>city</th>
          </tr>
        </thead>
        {% for k,v in ep_papers.items()|reverse: %}
          <tr class="ep-row table-row">
          {% for key, value in v.items()|reverse: %}
            {% if key == 'newspaper_name' %}
              <td scope="row" class="td-newspaper-name">{{ value }}</td>
            {% elif key == 'city' %}
              <td class="td-city">{{ value }}</td>
            {% endif %}
        {% endfor %}
        {% endfor %}
        </tr>
      </table>
    </div><!--./col-->

    {% if merged_papers %}

    <div id="pane_merged" class="tab-pane col-md-12" role="tabpanel">
      <h2>Merged with E/P Table</h2>
      <h3>Total rows: {{merged_total}}</h3>
      <p>This table shows successful merges with E/P and our database.</p>
      <table id="merged_table" class="state-table table table-bordered">
        <thead>
          <tr>
            <th>newspaper_name</th>
            <th>city</th>
          </tr>
        </thead>
        {% for k,v in merged_papers.items()|reverse: %}
          <tr class="merged-row table-row">
          {% for key, value in v.items()|reverse: %}
            {% if key == 'newspaper_name' %}
              <td scope="row" class="td-newspaper-name">{{ value }}</td>
            {% elif key == 'city' %}
              <td class="td-city">{{ value }}</td>
            {% endif %}
        {% endfor %}
        {% endfor %}
        </tr>
      </table>
    </div><!--./col-->
    {% endif %}

    <div id="pane_db" class="tab-pane col-md-12" role="tabpanel">
      <h2>Database Table</h2>
      <h3>Total rows: {{db_total}}</h3>
      <p>This table shows the newspapers in our database for 2017.</p>
      <table id="db_table" class="state-table table table-bordered">
        <thead>
          <tr>
            <!-- <th>newspaper_id</th> -->
            <th>newspaper_name</th>
            <th>city</th>
          </tr>
        </thead>
        {% for k,v in state_papers.items()|reverse: %}
          <tr class="db-row table-row">
          {% for key, value in v.items()|reverse: %}
            {% if key == 'newspaper_name' %}
              <td class="td-newspaper-name">{{ value }}</td>
            {% elif key == 'city' %}
              <td class="td-city">{{ value }}</td>
            {% endif %}
        {% endfor %}
        {% endfor %}
        </tr>
      </table>
    </div><!--./col-->

  </div><!-- ./tab-content -->
</div><!--./col wrapped around tab pane-->
  {% if merged_papers %}
  <div class="col-md-6">
    <h2 style="margin-top:61px;">Unmerged Table</h2>
    <h3>Total rows: {{unmerged_total}}</h3>
    <p>This table shows rows from our database that have not merged with E/P.</p>
    <p>{% if is_duplicate %} <span class="warn">WARNING:</span> There are <span style="font-weight:bold;">{{ num_of_dupl }}</span> duplicate entries for this state. {% endif %}</p>
    <table id="unmerged_table" class="state-table table table-bordered">
      <thead>
        <tr>
          <th>newspaper_name</th>
          <th>city</th>
          <th>HIDE</th>
        </tr>
      </thead>
      {% for k,v in unmerged_papers.items()|reverse: %}
        <tr class="unmerged-row table-row">
        {% for key, value in v.items()|reverse: %}
          {% if key == 'newspaper_name' %}
            <td scope="row" class="td-newspaper-name">{{ value }}</td>
          {% elif key == 'city' %}
            <td class="td-city">{{ value }}</td>
          {% endif %}

      {% endfor %}
          <td class="td-hide">HIDE</td>
      {% endfor %}
      </tr>
    </table>
  </div><!--./col-->
  {% endif %}
  {% else %}
    <a href="/select">Select a state</a>
  {% endif %}
</div><!--/.row-->
</div><!--/.container-->
</div><!--/.container-fluid-->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/f45262afc0.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.4/jszip-3.1.3/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fh-3.1.2/se-1.2.2/datatables.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>

    <script>
      $(document).ready(function(){

        var sel_unmerge;
        var sel_ep;

        $('.state-table').DataTable({
          dom: 'Bfrtip',
          buttons: [
            'csv', 'excel', 'copy'
          ],
          paging:false,
          fixedHeader:true,
          colReorder:true,
          select:true
        });

        $('.table-row').click(function(){
            if ($(this).hasClass('unmerged-row')){
              sel_db_name = $(this).find('.td-newspaper-name').html();
              sel_db_city = $(this).find('.td-city').html();
            }
            else if ($(this).hasClass('ep-row')){
              sel_ep_name = $(this).find('.td-newspaper-name').html();
              sel_ep_city = $(this).find('.td-city').html();
            }

        });

        $('.td-hide').on('click', function(){
          // $(this).parent().hide();
          $('.table-row.selected').hide();
        });


        $('#btn_make_merge').click(function(){
          $('.col-form-label').empty();
          console.log('u clicked btn make merge');
          // console.log(sel_ep);
          $('<p>' + sel_ep_name + '</p>').appendTo($('[for="inputEpSelPaper"]'));
          $('<p>' + sel_db_name + '</p>').appendTo($('[for="inputDbSelPaper"]'));

          $('<p>' + sel_ep_city + '</p>').appendTo($('[for="inputEpSelCity"]'));
          $('<p>' + sel_db_city + '</p>').appendTo($('[for="inputDbSelCity"]'));

          $('#oldEpPaper, #inputEpSelPaper').attr('value', sel_ep_name);
          $('#inputEpSelCity, #oldEpCity').attr('value', sel_ep_city);

          $('#inputDbSelPaper, #oldDbPaper').attr('value', sel_db_name);
          $('#inputDbSelCity, #oldDbCity').attr('value', sel_db_city);

        });

        $('#btn_make_merge_city').click(function(){
          $('<p>' + sel_ep_name + '</p>').appendTo($('[for="inputEpSelPaper"]'));
          $('<p>' + sel_db_name + '</p>').appendTo($('[for="inputDbSelPaper"]'));

          $('<p>' + sel_ep_city + '</p>').appendTo($('[for="inputEpSelCity"]'));
          $('<p>' + sel_db_city + '</p>').appendTo($('[for="inputDbSelCity"]'));

          $('#oldEpPaper, #inputEpSelPaper').attr('value', sel_ep_name);
          $('#inputEpSelCity, #oldEpCity').attr('value', sel_ep_city);

          $('#inputDbSelPaper, #oldDbPaper').attr('value', sel_db_name);
          var sel_ep_city_title = sel_ep_city.toTitleCase();
          $('#inputDbSelCity, #oldDbCity').attr('value', sel_ep_city_title);
        });

        String.prototype.toTitleCase = function(n) {
           var s = this;
           if (1 !== n) s = s.toLowerCase();
           return s.replace(/(^|\s)[a-z]/g,function(f){return f.toUpperCase()});
        }


      });
    </script>
  </body>
</html>
