/*https://color.adobe.com/Home-color-theme-9762877*/

th:hover{
  cursor:pointer;
}

.idx-header{
  background-color:#776666;
  color:white;
}
.idx-header h3 span{
  font-size:26pt;

  color:#7BA5B8;
}

.page-center-cont{
  display:flex;
  flex-direction:column;
  justify-content: center;
  height:100vh;
}
