/*https://color.adobe.com/Home-color-theme-9762877*/
body{
  font-size:1.2em;
  font-family:'Verdana', 'sans-serif';
}
th:hover{
  cursor:pointer;
}

/*.idx-header{
  background-color:#776666;
  color:white;
}*/
.idx-header h3 span{
  font-size:26pt;

  color:#7BA5B8;
}

#state-title{
  text-align: center;
  border: 5px solid darkkhaki;
  display: inline-flex;
  border-radius: 4px;
  font-family: 'Menlo';
  padding: 10px;
  color: firebrick;
}

#title-wrapper{
  justify-content: center;
  display: flex;
}

.page-center-cont{
  display:flex;
  flex-direction:column;
  justify-content: center;
  height:100vh;
}

#btn-wrapper{
  position:fixed;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-end;
  left:85vw;
  height:100vh;
    /*z-index:1000;*/
}

#btn-wrapper a{
  display:block;
  margin:10px;
}

#overlay-b{
  height:100%;
  width:100vw;
  position:fixed;
  z-index:-1000;
  background-color:pink;
  opacity:.3;
}

.warn{
  font-weight:bold;
  color:red;
}

/*datatables mods*/
div.dataTables_wrapper div.dataTables_filter{
  display:inline;
  margin-left:126px;
}
